parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: catch.neverThrown
    bootstrapFiles:
        - phpstan-bootstrap.php
    level: 8
    reportUnmatchedIgnoredErrors: false
    scanFiles:
        - ../../vendor/oxid-esales/oxideshop-ce/source/oxfunctions.php
        - ../../vendor/oxid-esales/oxideshop-ce/source/overridablefunctions.php
    treatPhpDocTypesAsCertain: false
