<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="true"
         processIsolation="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         requireCoverageMetadata="false"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnPhpunitDeprecations="true"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>Unit</directory>
            <exclude>Unit/GraphQL/Storefront</exclude>
        </testsuite>
        <testsuite name="UnitStorefront">
            <directory>Unit/GraphQL/Storefront</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
        <exclude>
            <directory suffix=".php">../tests</directory>
        </exclude>
    </source>
</phpunit>
